.rp-prodlist .rp-prodrow {
	width: 100%;
	padding: 20px 0;
}

.rp-prodlist .rp-prodrow .rp-prodrowleft {
	float: left;
	width: 30%;
}

.rp-prodlist .rp-prodrow .rp-prodrowright {
	float: left;
}

.rp-prodlist .rp-prodrow .rp-prodrowrightadjust {
	width: 65%;
	margin-left: 3%;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-rating {
	margin-top: 5px;
}

.rp-prodlist .rp-prodrow .rp-prodrowright p {
	margin: 0 0 0 0;
	line-height: 18px;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-rating div {
	min-width: 20%;
}

.clear {
	clear: both;
}

.cwp-review-chart.relative {
	position: relative;
}

.cwp-review-chart.absolute {
	position: absolute;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-bttn:first-child {
	margin-right: 10px;
}

.rp-prodlist .rp-prodrow .rp-prodrowright p.rp-style1-buttons {
	display: block;
	overflow: hidden;
	height: 32px;
	margin-top: 10px;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-bttn {
	padding: 6px 9px;
	border-radius: 3px;
	color: #fff !important;
	background-color: #3baeda;
	font-size: 12px;
	font-weight: bold;
	line-height: 36px;
	white-space: nowrap;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s ease;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .bttn:hover {
	opacity: 0.8;
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-review-stars.rtl .rp-review-stars-grade i.fa-star-half-o {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.rp-prodlist .rp-prodrow .rp-prodrowright .rp-review-stars .rp-review-stars-grade {
	color: #ff7e00;
}
