.rp-inline-pie-chart {
	position: relative;
	width: 120px;
	height: 120px;
}

.rp-default-img {
	width: 150px;
	height: 150px;
}

.rp-product-image {
	width: 150px;
	height: 150px;
}


.rp-template ul li:before {
	width: auto !important;
	position: initial !important;
	background: none !important;
}

.rp-template ul li, .rp-template ol li {
	position: initial !important;
	background: none !important;
}

.rp-template-1 ul li, 
.rp-template-1 ol li,
.rp-template-2 ul li, 
.rp-template-2 ol li {
	position: initial !important;
	list-style-type: disc;
	background: none !important;
}

#review-statistics .review-wu-bars ul.rp-weak.rp-custom-icon li.colored,
#review-statistics .review-wu-bars ul.rp-not-bad.rp-custom-icon li.colored,
#review-statistics .review-wu-bars ul.rp-good.rp-custom-icon li.colored,
#review-statistics .review-wu-bars ul.rp-very-good.rp-custom-icon li.colored {
	background: none !important;
}
